.row-poster{
    object-fit: contain;
    width: 100%;
    max-height: 100px;
    margin-right: 10px;
    transition: transform 450ms;
}
.row-posters{   
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}
.row{
    margin: 15px;
    color: white;

}
.row-poster:hover{
    transform: scale(1.08);
    }
    .row-posters::-webkit-scrollbar{
        display: none;

    }
    .largePoster{
        max-height: 250px;
    }
    .largePoster:hover{
        transform: scale(1.09);

    }